    <div class="main"></div>

    <div class="about" id="about">
      <div class="container">
        <div class="section-title">
          <p>JMEDとは</p>
        </div>
      </div>
    </div>

    <div class="how-to" id="how-to">
      <div class="container">
        <div class="section-title">
          <p>ご利用の流れ</p>
        </div>
        <div class="how-to-card">
          <h2 class="how-to-title">
            Step1. xxx
          </h2>
          <p class="how-to-txt">
            xxxxxxxxxx
          </p>
        </div>

        <div class="how-to-card">
          <h2 class="how-to-title">
            Step2. xxx
          </h2>
          <p class="how-to-txt">
            xxxxxxxxxx
          </p>
        </div>
        
        <div class="how-to-card">
          <h2 class="how-to-title">
            Step3. xxx
          </h2>
          <p class="how-to-txt">
            xxxxxxxxxx
          </p>
        </div>
      </div>
    </div>

    <div class="qa" id="qa">
      <div class="container">
        <div class="section-title">
          <p>よくある質問</p>
        </div>
      </div>
    </div>